@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .redBg {
      background-color: red;
      color: white;
      font-size: medium;
  }
  .introText{
    background-image: url("mountain-man.png");
  }
  .text-white {
      color: white;
  }
  .raiseUp {
      transform: translateY(-54px);
  }
  .description {
      font-size: 24px;
      transform: translateY(-16px);
  }
  .regular {
    font-family: 'Roboto', sans-serif;
  }
  .input {
    background-color: white;
    border-color: black;
    width: 256px;
    height: 30px;
    font-size: 18px;
    margin-left: 16px;
  }
  .btn {
    background-color: red;
    font-size: 18px;
    color: white;
    border-color: red;
    height: 40px;
    border-radius: 5px;
    margin-left: 14px;
  }
  .parent {
    display: flex;
    justify-content: left;
    text-align: left;
  }
  .askrText {
      font-size: 24px;
      justify-self: flex-start;
      margin-left: 16px;
      color: black;
      transform: translateY(-20px);
  }
  .marginLeft {
      margin-left: 16px;
      transform: translateY(-4px);
  }