@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&family=Ubuntu:ital,wght@0,300;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300;1,400&display=swap');
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: white;
  background-color: #ff0000; /* White*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    transition: 0.3s;
  }
  .imgBeforeLoad {
    position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transform: translateX(-50px);
  }
  
  .sidenav li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000000;
    font-weight: bold;
  }
  .sidenav li:hover {
    color: #000000;
    font-weight: bold;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-weight: bold;
  }
  .sidenav .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-weight: bold;
    color: #000000;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .redBg {
      background-color: red;
      color: white;
      font-size: medium;
  }
  .introText{
    background-image: url("mountain-man.png");
  }
  .text-white {
      color: white;
  }
  .raiseUp {
      transform: translateY(-50px);
  }
  .raiseUp-less {
    transform: translateY(-36px);
    height: 512px;
  }
  .list-transform {
    transform: translateY(-28px);
  }
  .description {
      font-size: 21px;
      transform: translateY(-15px);
      font-weight: 500;
  }
  .regular {
    font-family: 'Noto Sans Display', sans-serif;
font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .lightButton {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 30px;
    padding: 0;
    font-weight: bold;
    font-family: 'Noto Sans Display', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    transition: 0.3s;
      }
      .darkButton {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 30px;
        padding: 0;
        border: none;
        transition: 0.3s;
      }
      .darkOrLight {
        margin-left: 16px;
      }
  
  .input {
    background-color: white;
    border-color: black;
    width: 256px;
    height: 30px;
    font-size: 18px;
    margin-left: 8px;
  }
  .input-id {
    background-color: white;
    border-color: black;
    width: 329px;
    height: 30px;
    font-size: 18px;
    transform: translateY(-16px);
  }
  .btn-sg {
    font-size: 18px;
    color: red;
    border: none;
    background-color: white;
    height: 40px;
    width: fit-content;
    box-shadow: none;
  padding: 0%;
    border-radius: 80px;
    transition: 0.2s;
    transform: translateY(-20px);
  }
  .btn-sg:hover {
    background-color: red;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    box-shadow: none;
  padding: 0%;
    width: fit-content;
    border-radius: 78px;
    transition: 0.2s;
    transform: translateY(-20px);
  }
  .btn-ask {
    font-size: 18px;
    color: red;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 80px;
    transition: 0.2s;
    box-shadow: none;
  padding: 0%;
    background-color: white;
    transform: translateY(-25px);
  }
  .btn-ask:hover {
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 80px;
    box-shadow: none;
  padding: 0%;
    transition: 0.2s;
    transform: translateY(-25px);
  }
  .btn-univ {
    font-size: 18px;
    color: red;
    border: none;
    height: 40px;
    width: fit-content;
    border-radius: 80px;
    box-shadow: none;
  padding: 0%;
    transition: 0.2s;
    background-color: white;
  }
  .btn-univ:hover{
    background-color: red;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    width: fit-content;
    border-radius: 80px;
    box-shadow: none;
  padding: 0%;
    transition: 0.2s;
  }
  .questionText {
    font-size: 18px;
    color: black;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {
    padding: 2px 16px;

  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  .secondText {
    margin-top: 16px;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-style: initial;  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    transition: 0.3s;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: red;
    color: white;
    transition: 0.3s;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: transparent;
  }
  .list-text {
    font-size: 20px;
    color: black;
  }
  .btn-univ-list {
    font-size: 18px;
    color: red;
    border: none;
    height: 40px;
    width: fit-content;
    box-shadow: none;
  padding: 0%;
    border-radius: 80px;
    transition: 0.2s;
    background-color: white;
    transform: translateY(-12px);
  }
  .btn-univ-list:hover {
    background-color: red;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    box-shadow: none;
  padding: 0%;
    width: fit-content;
    border-radius: 80px;
    transition: 0.2s;
    transform: translateY(-12px);
  }
  .contents {
    transform: translateY(-32px);
  }
  .li-items {
    transition: 0.3s;
    width: 100%;
    height: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    list-style-type: none;
    transform: translateY(-32px);
    background-color: red;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .li-items:hover{
    transition: 0.3s;
    width: 100%;
    height: 45px;
    font-weight: bold;
    color: white;
    background-color: red;    list-style-type: none;
    
    transform: translateY(-32px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .li-items-up {
    transition: 0.3s;
    width: 100%;
    height: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    list-style-type: none;
    background-color: red;
    transform: translateY(-50px);
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .li-items-up:hover{
    transition: 0.3s;
    width: 100%;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    list-style-type: none;
    transform: translateY(-50px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .introLi {
    margin-top: 0;
    font-weight: bold;
  }
  .naturalLi {
    margin-top: 5px;
    font-weight: bold;
  }
  .description-raise {
    font-size: 21px;
    transform: translateY(-27px);
}
#concept-div {
  height: fit-content;
  width: fit-content;
}
.videoClass {
  align-self: center;
  width: 100%;
}
.explainer {
  width: 100%;
}
.btn-next {
  font-size: 18px;
  color: red;
  border: none;
  opacity: 1;
  box-shadow: none;
  padding: 0%;
  background-color: white;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 80px;
  transition: 0.2s;
  transform: translateY(2px);
}
.btn-next:hover {
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: none;
  opacity: 1;
  box-shadow: none;
  padding: 0%;
  background-color: red;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 80px;
  transition: 0.2s;
  transform: translateY(2px);
}
.blackDiv {
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  color: #FFFFFF;
  height: 700spx;
  max-width: 100%;
  width: 100%;
}
.blackDiv h1{
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#difImg {
  width: auto;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.answerDiv {
  width: 100%;
  font-weight: bold;
  height: 50px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}
.answerDiv-ls {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  transform: translateY(-16px);
}
.imp {
  color: red;
  font-weight: 900;
}
.input-ask {
border-radius: 80px;
}
.formInput {
  border-radius: 80px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
.formInput:focus {
  border-radius: 80px;
  border: none;
  border-color: white;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
.formInput:required:invalid {
  border-color: #c00000;
}